<!DOCTYPE html>
<html>
  <head>
    <title>MyFirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nabvar" style="background: #cecece">
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Contacts', contacts_path %> |
      <%= link_to 'About', about_path %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <form action="/contacts" method="get">
        <input
          value="<%= params[:member] %>"
          type="text"
          name="member"
          placeholder="Who are you looking for?">
        <input type="submit">
      </form>

      Made by me on <%= Date.today %>
    </footer>
  </body>
</html>
